$base-color: #4280BB;
@mixin heading-4 {
  font-family: Rubik_bold;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

@mixin list-item {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2D4664;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 10px;

  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu-list {
    display: flex;
    align-items: center;
  }

  .burger-menu {
    display: none;
    width: 40px;
    @media (max-width: 768px) {
      display: block;
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .header-menu-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media (max-width: 768px) {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 320px;
    list-style: none;

    li {
      .anchor-link {
        span {
          @include list-item;
        }

        @include list-item;
      }

    }
  }

  span {
    color: $base-color;
    min-width: 177px;
    @include heading-4;
  }
}